html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#workspace {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: #585858;
}

#checkerboard {
    outline: 3px solid #000000;
    pointer-events: none;
    image-rendering: pixelated;
    position: absolute;
    z-index: 0;
}

#canvas {
    pointer-events: none;
    image-rendering: pixelated;
    position: absolute;
    z-index: 1;
}

#cursor-canvas {
    image-rendering: pixelated;
    position: absolute;
    z-index: 2;
}

#toolbox {
    display: flex;
    position: absolute;
    top: 2vh;
    left: 2vw;
    overflow-x: auto;
    width: auto;
    z-index: 9999;
    pointer-events: none;
}

.toolbox-group {
    display: flex;
    margin: 10px;
}

#brush-settings {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    bottom: 2vh;
    left: 2vw;
    z-index: 9999;
    pointer-events: none;
}

#size-lbl {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}